[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[user]
	email = daniel.lewis.software.engineer@gmail.com
	name = Daniel Lewis
[init]
	defaultBranch = main
[core]
	pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
